body{
  font-style: italic;
  background-color: yellow;
}
.slide{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.5s;
  }
  .active-slide{
    opacity: 1;
    z-index: 2;
  }
  .quiz-container{
    position: relative;
    height: 200px;
    margin-top: 40px;
  }
  
  .bac{
      background-color: lightseagreen;
      text-align: center;
      height: 60px;
      margin-bottom: 20px;
      margin-top: 0px;
  }
  .ques-body{
      font-size: 30px;
  }

  .title{
    text-align: center;

  }

  .answers{
    padding-left: 15px;
  }
  .inlin{
    display: inline-block;
    margin-right: 400px;
    padding-left: 15px;
  }
  .imag{
    height: 200px;
    width: 300px;
  }
  .res{
    text-align: center;
    margin-bottom: 30px;
  }
  #quiz{
    background-color: lightyellow;
  }


  .title-section {
    padding: 50px;
    text-align: center;
    background-color: #474e5d;
    color: white;
  }

  .header {
    overflow: hidden;
    background-color: #474e5d;
    padding: 20px 10px;
  }
  
  /* Style the header links */
  .header a {
    float: left;
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
  }
  
  /* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
  .header a.logo {
    font-size: 25px;
    font-weight: bold;
  }
  
  /* Change the background color on mouse-over */
  .header a:hover {
    background-color: #ddd;
    text-decoration: none;
    color: black;
  }
  
  /* Style the active/current link*/
  .header a.active {
    background-color: dodgerblue;
    color: white;
  }
  
  /* Float the link section to the right */
  .header-right {
    float: right;
  }
  
  /* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
  @media screen and (max-width: 500px) {
    .header a {
      float: none;
      display: block;
      text-align: left;
    }
    .header-right {
      float: none;
    }
  }

  .parallax {
    /* The image used */
    background-image: url("../background.jpg");
  
    /* Set a specific height */
    height: 100%;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
  }

  #submit {
      margin-bottom: 50px;
  }

  .footer {
    left: 0;
    width: 100%;
    background-color:white;
    color: black;
    text-align: center;
  }